<nav ng-controller="AdminNavCtrl" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav" style="width: 100%">
        <li class="nav-item">
            <a class="nav-link" href="/" style="color: white !important">UTDesign GettIt</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="#requestSummary" style="" ng-class="{active: activeTab == 'requestDashboard'}">Requests</a>
        </li>

        <li class="nav-item dropdown">
            <a class="dropbtn nav-link" href="#editUsers" style="" ng-class="{active: activeTab == 'editUsers' || activeTab == 'addUsers'}">Users</a>
            <div class="dropdown-content">
                <a href="#editUsers">Edit Users</a>
                <a href="#addUsers">Add Users</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dropbtn nav-link" href="#viewCosts" style="" ng-class="{active: activeTab == 'viewCosts' || activeTab == 'addCosts'}">Costs</a>
            <div class="dropdown-content">
                <a href="#viewCosts">View Costs</a>
                <a href="#addCosts">Add Costs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dropbtn nav-link" href="#editProjects" style="" ng-class="{active: activeTab == 'editProjects' || activeTab == 'addProjects'}">Projects</a>
            <div class="dropdown-content">
                <a href="#editProjects">Edit Projects</a>
                <a href="#addProjects">Add Projects</a>
            </div>
        </li>

        <li class="nav-item" ng-show="showBulkUserAdd">
            <a class="nav-link" href="#addUserBulk" style="" ng-class="{active: activeTab == 'addUserBulk'}" style="background-color: #a312c7 !important">User Spreadsheet Add</a>
        </li>
        <li class="nav-item" ng-show="showBulkProjectAdd">
            <a class="nav-link" href="#addProjectBulk" style="" ng-class="{active: activeTab == 'addProjectBulk'}" style="background-color: #a312c7 !important">Project Spreadsheet Add</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#help" style="" ng-class="{active: activeTab == 'help'}">About/Help</a>
        </li>
        <li class="nav-item ml-auto">
            <button type="button" class="btn btn-danger" ng-click="doLogout()">Logout</button>
        </li>
    </ul>
</nav>
