<div id="listEditSongDiv" ng-controller="listEditSongCtrl as $ctrl" style="height: 100%; width: 100%">
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item"><a id="songListTab" class="nav-link active" data-toggle="tab" data-target="#existingSongSearch" role="tab">Songs</a></li>
		<li class="nav-item"><a id="songEditTab" class="nav-link" data-toggle="tab" data-target="#addNewSong" role="tab">Add New Song</a></li>
	</ul>

	<div class="tab-content" style="margin: 10px; height: calc(100% - 50px);">
		<div id="existingSongSearch" class="existingSongSearch tab-pane show active" role="tabpanel">
			<div>
				<div data-tip="Use commas to separate entries" style="width: 100%">
					<input type="text" id="songNameSearch" ng-model="songNameSearch" ng-model-options='{debounce: 500}' ng-change="advSearch()" placeholder="Search for song name" style="width: 100%;">
				</div>
				<a id="editCollapse" data-toggle="collapse" data-target=".songCollapse" href="">Advanced Search</a>
				<div class="songCollapse collapse" style="padding-bottom: 10px;">
					<div id="songDatePicker" class="input-daterange input-group" style="z-index: 1;">
						<span class="input-group-addon">Dates:</span>
						<input type="text" class="input-sm form-control" name="start" id="songStartDate" ng-model="songStartDate"/>
						<span class="input-group-addon">to</span>
						<input type="text" class="input-sm form-control" name="end" id="songEndDate" ng-model="songEndDate"/>
						<span class="input-group-addon">AND</span>
					</div>
					<div class="input-group">
						<span class="input-group-addon">Includes artists:</span>
						<div data-tip="Use commas to separate entries">
							<input type="text" class="song-search input-sm form-control" ng-model="songArtistSearch">
						</div>
						<span class="input-group-addon">OR</span>
						<!--TODO: add a drop down for artists-->
					</div>
					<div class="input-group">
						<span class="input-group-addon">Includes albums:</span>
						<div data-tip="Use commas to separate entries">
							<input type="text" class="song-search input-sm form-control" ng-model="songAlbumSearch">
						</div>
						<span class="input-group-addon">OR</span>
						<!--TODO: add a drop down for albums-->
					</div>
					<div class="input-group">
						<span class="input-group-addon">Includes genres:</span>
						<div data-tip="Use commas to separate entries">
							<input type="text" class="song-search input-sm form-control" ng-model="songGenreSearch">
						</div>
						<!--TODO: add a drop down for genres-->
					</div>
					<div class="input-group">
						<button type="button" id="advSongSearchBtn" ng-click="advSearch()">Search</button>
					</div>
				</div>
			</div>
			<div>
				<button type="button" ng-click="sortBy('name')">Name<img ng-class="sortGlyph('name')" style="left: 2px;"></img></button>
				<button type="button" ng-click="sortBy('relev')">Relevance<img ng-class="sortGlyph('relev')" style="left: 2px;"></img></button>
				<button type="button" ng-click="sortBy('date')" style="float: right;">Date<img ng-class="sortGlyph('date')" style="left: 2px;"></img></button>
			</div>
			<div class="joinCollapseContainer sortableDataContainer songCollapse collapse show" style="height: calc(100% - 85px);">
				<div ui-sortable="sortableSongs" ng-model="songDatashare.songData" id="editSongSelect" class="ng-cloak list" style="width: 100%; min-height: 100%;">
					<div ui-sortable-selectable ng-repeat="song in songDatashare.songData track by $index" class="item songItem">
						<!-- TODO: make this use infinite scroll -->
						<div class="playRow">
							<div class="item-contents"><img ng-src="{{getThumbnail(song)}}" width="64px"/></div>
							<div class="item-contents song-attr">
								<div class="item-contents-attr">{{song.name}}</div>
								<div class="item-contents-attr">{{song.artistStr}}</div>
							</div>
							<div class="item-contents song-date">{{song.dateStr}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="addNewSong" class="addNewSong tab-pane" role="tabpanel" style="overflow: auto;">
			<p>new song here</p>
		</div>
	</div>
</div>

<script type="text/javascript">
	//handle advanced search expand
	$("#editCollapse").click(function(e) {
		e.preventDefault();
		console.log("edit expand clicked");
	});
</script>