<div id="forgotPasswordCtrlDiv" ng-controller="ForgotPasswordCtrl" class="login-modal">
    <form ng-submit="doForgotPassword()" class="login-content" style="height: 300px;">

        <h3>Forgot Password</h3>
        <h7>It happens!</h7>

        <br>
        <br>

        <div>
            <label style="float: left; display: inline-block">Email</label>
            <label style="float: right; display: inline-block">
                <a href="#signin">Didn't forget password?</a>
            </label>
        </div>


        <input type="text" ng-model="credentials.email">

        <br>
        <br>
        <br>

        <button type="submit" class="btn btn-success">Send Recovery Email</button>

    </form>
</div>