<div id="signInCtrlDiv" ng-controller="SignInCtrl" class="login-modal">
    <form ng-submit="doSignIn()" class="login-content">

        <h3>Sign In</h3>
        <h7>with your GettIt account</h7>

        <br>
        <br>

        <p>Email</p>
        <input type="text" ng-model="credentials.email" tabindex="1">

        <br>
        <br>

        <div>
            <label style="float: left; display: inline-block">Password</label>
            <label style="float: right; display: inline-block">
                <a href="#forgotpassword" tabindex="4">Forgot password?</a>
            </label>
        </div>
        <input type="password" ng-model="credentials.password" tabindex="2">

        <br>
        <br>

        <button type="submit" class="btn btn-success" tabindex="3">Sign In</button>

        <br>
        <br>

    </form>
</div>
