<div id="viewBudgetDiv" ng-controller="StudentBudgetCtrl as $ctrl" style="margin: 2%; box-sizing: border-box;">
    <button type="button" class="btn btn-primary" style="inline-block" ng-repeat="(idx, data) in projects" ng-click="regenerateTable($event)" id="btnTab{{idx}}">
        {{data["name"]}}
    </button>

    <table id="overallBudgetTbl" class="table table-bordered">
        <thead>
            <tr>
                <th>Budget Limit</th>
                <th>Available Budget Remaining</th>
                <th>Pending Budget Remaining</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{getMaxBudgetStr()}}</td>
                <td>{{getTotalStr()}}</td>
                <td>{{getPendingStr()}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="5">Procurement Requests</th>
            </tr>
            <tr>
                <th ng-repeat="field in requestFields">{{field}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="requestDict in curRequestData">
                <td ng-repeat="requestK in requestKeys">{{requestK == 'status' ? statusLut[requestDict[requestK]] : requestDict[requestK]}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="4">Additional Expenses</th>
            </tr>
            <tr>
                <th ng-repeat="field in costFields">{{field}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="costDict in curCostData">
                <td ng-repeat="costK in costKeys">{{costK == 'type' ? costTypeLut[costDict[costK]] : costDict[costK]}}</td>
            </tr>
        </tbody>
    </table>
</div>
