<nav ng-controller="NavCtrl" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav" style="width: 100%">
        <li class="nav-item">
            <a class="nav-link" href="/" style="color: white !important">Music Player</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="#playlist" style="">Playlists</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#play" style="">Play</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#song" style="">Songs</a>
        </li>
    </ul>
</nav>
