<nav id="navContainer" ng-controller="NavCtrl" class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a id="navBrand" class="navbar-brand" href="#">Music Player</a>
	<ul id="mainNavbar" class="navbar-nav" style="padding: 3px; margin-right: 50px;">
		<li id="playlistNavbar" class="nav-item">
			<a class="nav-link" href="#playlist" style="">Playlists</a>
		</li>

		<li id="playNavbar" class="nav-item">
			<a class="nav-link" href="#play" style="">Play</a>
		</li>

		<li id="songNavbar" class="nav-item">
			<a class="nav-link" href="#song" style="">Songs</a>
		</li>
	</ul>
	<div id="globalPlayCtrl" class="navbar-nav ng-cloak" style="flex-grow: 100; align-items: center;">
		<button class="btn" ng-click="previousSong()"><img class="icon-l icon-prev"></img></button>
		<button class="btn" ng-click="playPause()"><img class="icon-l" ng-class="(playDatashare.currentState==1) ? 'icon-pause' : 'icon-play'"></img></button>
		<button class="btn" ng-click="nextSong()"><img class="icon-l icon-next"></img></button>
		<div id="navNowPlaying" ng-show="playDatashare.nowPlaying" class="nowPlaying ellipsis">
			{{playDatashare.nowPlaying.name}} - {{playDatashare.nowPlaying.artistStr}}
		</div>
	</div>
	<ul id="logoutNav" class="navbar-nav" style="padding: 12px;">
		<li class="nav-item">
			<a class="nav-link" href="#logout">Logout</a>
		</li>
	</ul>
</nav>
