<nav id="navContainer" ng-controller="NavCtrl" class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a id="navBrand" class="navbar-brand" href="#">Music Player</a>
	<ul id="mainNavbar" class="navbar-nav" style="padding: 3px; margin-right: 50px;">
		<li id="playlistNavbar" class="nav-item">
			<a class="nav-link" href="#playlist" style="">Playlists</a>
		</li>

		<li id="playNavbar" class="nav-item">
			<a class="nav-link" href="#play" style="">Play</a>
		</li>

		<li id="songNavbar" class="nav-item">
			<a class="nav-link" href="#song" style="">Songs</a>
		</li>
	</ul>
	<div id="globalPlayCtrl" class="navbar-nav ng-cloak" style="flex-grow: 100; align-items: center;">
		<button class="btn" ng-click="previousSong()"><i class="icon-l fas fa-step-backward"></i></button>
		<button class="btn" ng-click="playPause()"><i class="icon-l fas" ng-class="(playDatashare.currentState==1) ? 'fa-pause' : 'fa-play'"></i></button>
		<button class="btn" ng-click="nextSong()"><i class="icon-l fas fa-step-forward"></i></button>
		<div style="position: relative;">
			<button id="volMute" class="btn" ng-click="toggleMute()" ng-mouseover="audioHover=true" ng-mouseleave="audioHover=false"><i class="icon-l fas fa-volume-up"></i></button>
			<div id="volumeContainer" class="ng-hide-animate volFade hidden" ng-show="audioHover">
				<div id="volumeBk" ng-mouseover="audioHover=true" ng-mouseleave="!audioDown ? audioHover=false : ''"></div>
				<div id="volumeSlider" ng-mouseover="audioHover=true" ng-mouseleave="!audioDown ? audioHover=false : ''"></div>
			</div>
		</div>
		<div id="navVolumeSliderCtrl">{{volState}}</div>
		<div id="navNowPlaying" ng-show="playDatashare.nowPlaying" class="nowPlaying ellipsis">
			{{playDatashare.nowPlaying.name}} - {{playDatashare.nowPlaying.artistStr}}
		</div>
	</div>
	<ul id="logoutNav" class="navbar-nav" style="padding: 12px;">
		<li class="nav-item">
			<a class="nav-link" href="#logout">Logout</a>
		</li>
	</ul>
</nav>
