<div id="playDiv" ng-controller="playCtrl as $ctrl" style="padding: 10px; width: 100%; height: 100%;">
	<div class="playRow">
		<div id="playerDiv" class="playCol" style="width: calc(100% - 400px);">
			<div style="width: 100%;">
				<div id="mainPlayer" style="width: 100%;" ng-show="focusMode==false || nowPlaying == null">
					Select a playlist first!
					<!-- player here -->
				</div>
			</div>
			<div id="playerCtrlDiv" style="padding-top: 10px;">
				<div id="nowPlaying" ng-show="focusMode==true && nowPlaying" ng-model="nowPlaying">Now playing: {{nowPlaying.name}} - {{nowPlaying.artistStr}}</div>
				<div id="playerCtrlBtns">
					<button id="prevSong" class="btn" ng-click="previousSong()"><img class="icon-l icon-prev"></img></button>
					<button id="playPause" ng-show="focusMode==true" class="btn" ng-click="playPause()"><img class="icon-l" ng-class="(currentState==1) ? 'icon-pause' : 'icon-play'"></img></button>
					<button id="nextSong" class="btn" ng-click="nextSong()"><img class="icon-l icon-next"></img></button>
					<div style="float: right;">
						<input type="checkbox" id="focusSwitch" ng-model="focusMode" data-toggle="toggle" data-on="Focus Mode" data-off="Watch Mode" data-width="110">
					</div>
				</div>
				<div id="recommended">
					<!-- TODO: add recommended list here? -->
				</div>
				<div id="recommendedHolder"></div>
			</div>
		</div>
		<div id="playerContentsDiv" class="playCol" style="width: 400px;">
			<div>
				<input type=text ng-model="playlistData.name" ng-change="(playlistData.contents) ? playlistData.touched = true : playlistData" style="font-size: 22px;">
				<button style="float: right;" class="btn" ng-click="toggleShuffle()"><img class="icon-l icon-shuffle" ng-class="shuffleOn ? 'icon-toggled' : ''"></img></button>
				<button style="float: right;" class="btn" ng-click="toggleRepeat()"><img class="icon-l icon-repeat" ng-class="repeatOn ? 'icon-toggled' : ''"></img></button>
			</div>
			<div id="currentPlaylistContainer" class="sortableDataContainer" style="height: calc(100% - 46px);">
				<div ui-sortable="sortablePlayingList" ng-model="playlistData.contents" id="playingSelect" class="list" style="width: 100%; min-height: 100%;">
					<div ui-sortable-selectable ng-repeat="item in playlistData.contents track by $index" class="item songItem playItem">
						<div ng-dblclick="selectIndex($index)" style="width: 100%">
							<!-- <div style="width: 100%; display: table; table-layout: fixed;">
								<div style="width: 100%; display: table-row;">
									<div style="width: 20px; display: table-cell;">{{$index + 1}}</div>
									<div style="width: calc(100% - 20px); display: table-cell; overflow: hidden;">{{item.name}}</div>
								</div>
							</div>
							<div style="width: 100%; overflow: hidden;">{{item.artistStr}}</div> -->
							<div class="playRow">
								<div class="item-contents" style="text-align: right; width: 30px;">{{$index==nowPlayingIndex ? ">" : ''}}{{$index + 1}}</div>
								<div class="item-contents"><img ng-src="{{getThumbnail(item)}}" height="48px"/></div>
								<div class="item-contents">
									<div>{{item.name}}</div>
									<div>{{item.artistStr}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="margin-top: 10px;">
				<button id="playPlaylist" class="btn btn-success" ng-disabled="songIndices.length != 1" ng-click="selectIndex(songIndices)">Play</button>
				<button id="saveNewPlaylist" class="btn btn-primary" ng-disabled="!playlistData.touched" ng-click="savePlaylist()">Save</button>
				<button id="removeFromPlaying" class="btn btn-danger" ng-disabled="songIndices.length == 0" ng-click="removeSelected()">Remove</button>
				<button class="btn btn-success" ng-click="downloadPlaylist()" ng-disabled="playlistData.contents == null || playlistData.contents.length == 0">Download</button>
			</div>
		</div>
	</div>
</div>