<!-- <div id="playlistDiv" ng-controller="playlistCtrl as $ctrl" style="padding: 10px; width: 100%; height: 100%; display: grid; border: 1px solid blue;"> -->
<div id="playlistDiv" ng-controller="playlistCtrl as $ctrl" style="padding: 10px; width: 100%; height: 100%; display: grid; border: 1px solid blue; grid-template-rows: [title-top] 50px [title-bot list-top] auto [list-bot footer-top] 50px [footer-bot]; grid-template-columns: [playlist-left] 50% [playlist-right song-left] 50% [song-right];">

	<div id="playlistList0" style="border: 1px solid green; grid-row-start: title-top; grid-row-end: footer-bot; grid-column-start: playlist-left; grid-column-end: playlist-right;">
		<p style="grid-row-start: title-top; grid-row-end: title-bot;">Playlists</p>
		<div></div>
	</div>

</div>
