<html>
<div id="managerHelpDiv" class="help">

<h1>Manager Help Page</h1>

<p>Welcome to UTDesign GettIt, the fancy, new procurement system for UTDesign. Allow me to acquaint you with it!</p>

<p>You will notice at the top of the interface a &ldquo;Logout&rdquo; button. Clicking on the logout button will log you out of the system. </p>

<p>You will also notice three (3) tabs. You&rsquo;re currently viewing the &ldquo;About/Help&rdquo; tab. The other two (2) are:</p>

<p>Request Dashboard <br />
Budget</p>

<p>Let&rsquo;s discuss each of them.</p>

<h3>Request Dashboard</h3>

<p>The &ldquo;Request Dashboard&rdquo; interface allows you to view a list of all requests that have ever been submitted to you, including requests that since have have been cancelled, rejected by an admin, or successfully ordered. </p>

<p>By default, you will see a table of requests that displays:<p>

<table class="table table-bordered">
    <tr>
        <td>Request Number</td>
        <td>a unique integer that differentiates the request from every other saved request in the system, including unsubmitted ones.</td></tr>
    <tr>
        <td>Project Number</td>
        <td>the project number of the project this request is for</td>
    </tr>
    <tr>
        <td>Status
        </td><td>the status of the request</td></tr>
    <tr>
        <td>
            Vendor</td>
        <td>name of vendor the items will be ordered from; each procurement request may have only one vendor</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>URL of the home page of the vendor&rsquo;s online storefront</td>
    </tr>
    <tr>
        <td>Total Cost</td>
        <td>total cost of all items plus shipping</td>
    </tr>
    <tr>
        <td>Shipping Cost</td>
        <td>the cost of shipping only; this will be set after the items have been ordered</td>
    </tr>
</table>

<p>If you click on any of the white rows of this table, the row will expand, revealing gray rows, each corresponding to an item; and optionally buttons, depending on the status of the request.</p>

    <p>For each item, the following information is provided:</p>

<table class="table table-bordered">
  <tr>
    <td>Description</td>
    <td>a brief verbal description of what the item is, e.g. &ldquo;screws&rdquo;</td>
  </tr>
  <tr>
    <td>Item URL</td>
    <td>the URL of the item&rsquo;s online listing</td>
  </tr>
  <tr>
    <td>Catalog Part Number</td>
    <td>the catalog part number of the item</td>
  </tr>
  <tr>
    <td>Quantity</td>
    <td>how many of this item need to be ordered</td>
  </tr>
  <tr>
    <td>Estimated Unit Cost</td>
    <td>how much one of this item costs</td>
  </tr>
  <tr>
    <td>Total Cost</td>
    <td>the total cost of all items, plus shipping</td>
  </tr>
</table>

<p>These buttons include:</p>

<table class="table table-bordered">
  <tr>
    <td>Approve</td>
    <td>approve the request and send it to an admin to be ordered</td>
  </tr>
  <tr>
    <td>Reject</td>
    <td>reject the request; after you select this button, you will be prompted with two buttons and a text box in which to leave a comment</td>
  </tr>
</table>

<p>If you select "reject", you will be prompted with the following:</p>

<table class="table table-bordered">
  <tr>
    <td>Permanent Reject</td>
    <td>reject the request such that it may no longer be edited</td>
  </tr>
  <tr>
    <td>Send for Updates</td>
    <td>send the request back to the students who created it and prompt them to make changes to it</td>
  </tr>
  <tr>
    <td>Comment</td>
    <td>explain why you rejected the request or what changes should be made to it</td>
  </tr>
</table>

<h3>Budget</h3>

<p>The "Budget" interface allows you to review the budget for your project(s), including seeing how much money is remaining of the budget and what expenditures have been made.</p>

<p>At the top of the interface is at least one tab. Each tab corresponds to a project. If you&rsquo;re assigned to only one project, there will be only one tab.</p>

<p>The remainder of the page is separated into three separate tables:</p>

<p>The first table shows the following information:</p>

<table class="table table-bordered">
  <tr>
    <td>Budget Limit</td>
    <td>the total budget of the project</td>
  </tr>
  <tr>
    <td>Available Budget Remaining</td>
    <td>how much money is left after all ordered items are taken into account</td>
  </tr>
  <tr>
    <td>Pending Budget Remaining</td>
    <td>how much money is left after all ordered items and unordered items are taken into account</td>
  </tr>
</table>

<p>The second table shows how much has been spent or will be spent per procurement request. Each row of the table is one procurement request.</p>

<p>The following information is shown for each row:</p>

<table class="table table-bordered">
  <tr>
    <td>Status</td>
    <td>the status of the request</td>
  </tr>
  <tr>
    <td>Vendor</td>
    <td>name of vendor the items will be ordered from; each procurement request may have only one vendor</td>
  </tr>
  <tr>
    <td>Subtotal</td>
    <td>the total cost of all items in the request</td>
  </tr>
  <tr>
    <td>Shipping</td>
    <td>the total cost of shipping</td>
  </tr>
  <tr>
    <td>Total Cost</td>
    <td>the total cost of all items plus shipping</td>
  </tr>
</table>

<p>The third table shows all remaining costs tied to the project. Each row shows information about these costs. These costs come in three types:</p>

<table class="table table-bordered">
  <tr>
    <td>Refund</td>
    <td>money is returned to the project&rsquo;s budget</td>
  </tr>
  <tr>
    <td>Reimbursement</td>
    <td>money is taken from the project&rsquo;s budget to reimburse a student who spent their own money on items</td>
  </tr>
  <tr>
    <td>New Budget</td>
    <td>the total budget of the project is set to a new value</td>
  </tr>
</table>

<p>Each row of the table shows the following information about each cost:</p>

<table class="table table-bordered">
  <tr>
    <td>Timestamp</td>
    <td>what time and date the cost was applied to the project</td>
  </tr>
  <tr>
    <td>Type</td>
    <td>"refund", "reimbursement", or "new budget"</td>
  </tr>
  <tr>
    <td>Comment</td>
    <td>any comment made by the admin who applied the cost will display here</td>
  </tr>
  <tr>
    <td>Amount</td>
    <td>how much money the cost is; negative means this cost returns money to the project&rsquo;s budget</td>
  </tr>
</table>

<p>If the type of the cost is &ldquo;New Budget&rdquo;, the &ldquo;amount&rdquo; of the cost is the new budget of the project and not the change in the budget. For example, if a project whose budget was $2000 had its budget increased by $1000, the &ldquo;amount&rdquo; of the new budget would be $3000.<br />
</p>
</div>
</html>