<nav ng-controller="ManagerNavCtrl" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav" style="width: 100%">
        <li class="nav-item">
            <a class="nav-link" href="/" style="color: white !important">UTDesign GettIt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#viewRequests" ng-class="{active: activeTab == 'requestDashboard'}">Request Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#budget" ng-class="{active: activeTab == 'budget'}">Budget</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#help" ng-class="{active: activeTab == 'help'}">About/Help</a>
        </li>
        <li class="nav-item ml-auto">
            <button type="button" class="btn btn-danger" ng-click="doLogout()">Logout</button>
        </li>
    </ul>
</nav>
