<div id="verifyCtrlDiv" ng-controller="VerifyCtrl" class="login-modal">
    <form ng-submit="doVerify()" class="login-content" style="height: 420px;">

        <h3>Account Setup</h3>
        <h7>Set up you GettIt account password!</h7>

        <br>
        <br>

        <p>Confirm Email</p>
        <input type="text" ng-model="credentials.email">

        <br>
        <br>

        <p>New Password</p>
        <input type="password" ng-model="credentials.password">

        <br>
        <br>

        <p>Confirm Password</p>
        <input type="password" ng-model="confirmPassword">

        <br>
        <br>

        <button type="submit" class="btn btn-success">Register</button>

        <br>
        <br>

    </form>
</div>